/* 定義字型 */
@font-face {
  font-family: 'Noto Sans TC';
  src: url('./fonts/NotoSansTC-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* 套用到整個網站 */
body {
  margin: 0;
  /* 優先使用 Noto Sans TC，如果沒有才用系統字型 */
  font-family: 'Noto Sans TC', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
